
.smallText{
	font-size: smaller;
	font-style: italic;
}

#rcorners2 {
    border-radius: 15px;
    border: 2px solid #BBBBBB;
    padding: 10px; 
    width: 95%;
    height: 100%; 
    background-color: lightyellow;
}